@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --work-sans-font: 'Work Sans', sans-serif;
    --ghost-white-color: #fafafc;
    --dodger-blue-color: #33d2fd;
    --blue-color: #233148;
    --lynch-color: #6a6d89;
    --white-color: #fff;
    --transition: all 0.3s ease-in-out;
}
html{
    font-size: 10px;
}
body{
    font-family: var(--work-sans-font);
    font-size: 1rem;
    line-height: 1.6;
}
ul{
    list-style-type: none;
}
a{
    color: var(--blue-color);
    text-decoration: none;
}
img{
    width: 100%;
    display: block;
}
button{
    outline: 0;
    font-family: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--blue-color);
}
h1, h2, h3, h4{
    margin-top: 0;
    color: var(--blue-color);
}

/* navbar */
.navbar{
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.navbar-brand img{
    width: 98px;
}
.nav-content{
    display: flex;
    justify-content: space-between;
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
}
.brand-and-toggler{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.navbar-toggler{
    cursor: pointer;
}
.navbar-toggler img{
    width: 28px;
}
.navbar-collapse{
    position: fixed;
    background-color: var(--white-color);
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    box-shadow: -3px 0px 10px -3px rgba(0, 0, 0, 0.2);
    padding: 5.2rem 0 0 3rem;
    transform: translateX(100%);
    transition: var(--transition);
}
.nav-item{
    margin-bottom: 2rem;
}
.nav-link{
    font-size: 1.6rem;
    font-weight: 600;
    transition: var(--transition);
}
.nav-link:hover{
    color: var(--dodger-blue-color);
}

/* show navbar  */
.show-navbar .navbar-collapse{
    transform: translateX(0);
}
.show-navbar .navbar-toggler{
    z-index: 1000;
}

/* header */
.header{
    background: url(../images/main-bg.png) center/cover no-repeat;
}
.header-content{
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.header-text{
    margin-top: 21rem;
}
.header-text h2{
    font-size: 4.5rem;
    font-weight: 700;
    max-width: 514px;
    line-height: 1.57;
}
.header-text p{
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1.5rem;
}
.btn-group{
    margin-top: 4.5rem;
}
.btn-group button{
    height: 40px;
    padding: 0 3.5rem;
    border-radius: 5px;
    border: 1px solid var(--white-color);
    font-size: 1.4rem;
    font-weight: 600;
    width: 100%;
}
.btn-group button:first-child{
    background-color: var(--white-color);
    margin-right: 25px;
    margin-bottom: 14px;
    transition: var(--transition);
}
.btn-group button:last-child{
    color: var(--white-color);
    transition: var(--transition);
}
.btn-group button:first-child:hover{
    background-color: transparent;
    color: var(--white-color);
}
.btn-group button:last-child:hover{
    background-color: var(--white-color);
    color: var(--blue-color);
}
.header-sphone-img{
    max-width: 200px;
    position: absolute;
    bottom: -170px;
}

/* section one */
.section-one{
    position: relative;
}
.section-one .curve-bg{
    position: absolute;
    top: -160px;
    left: 0;
    width: 100%;
    z-index: 0;
    min-height: 1250px;
    object-fit: cover;
}
.section-one-content{
    position: relative;
    padding-top: 11.5rem;
    padding-bottom: 11.5rem;
}
.section-one-content .img img{
    width: 260px;
    display: none;
}
.grid-item{
    padding: 6rem 3rem 4rem;
    box-shadow: 0 7px 14px -2px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    margin-bottom: 7rem;
}
.grid-item:last-child{
    margin-bottom: 0;
}
.grid-item h3{
    font-size: 1.4rem;
    font-weight: 600;
    padding: 3.5rem 0 3rem 0;
}
.grid-item img{
    width: 52px;
    margin: 0 auto;
}

/* section two */
.section-two{
    padding: 9rem 0;
}
.section-two-content{
    display: grid;
    row-gap: 9rem;
}
.section-two-content .info .text{
    max-width: 460px;
    margin-right: auto;
    margin-left: auto;
}
.section-two-content .info .btn{
    margin-top: 3rem;
}
.accordion-item{
    box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    padding: 3rem 4rem;
    transition: var(--transition);
    display: grid;
    grid-template-columns: 50px auto;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}
.accordion-item-content{
    transition: var(--transition);
}
.accordion-item-content p.text{
    transition: var(--transition);
}
.accordion-item:hover{
    background-color: var(--dodger-blue-color);
}
.accordion-item:hover p.text{
    color: var(--white-color);
}
.accordion-item-content span{
    font-size: 1.5rem;
    font-weight: 600;
    display: block;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: var(--transition);
}
.accordion-item-content span:hover{
    color: var(--white-color);
}
.accordion-item-icon img{
    width: 30px;
    margin-right: 2.5rem;
}
.accordion-item:nth-child(2) .accordion-item-icon img{
    width: 16px;
}
.accordion-item:nth-child(4) .accordion-item-icon img{
    width: 26px;
}

/* accordion js */
.accordion-item-content p{
    max-height: 0;
    overflow: hidden;
}
.show-accordion{
    max-height: 200px!important;
}

/* section three */
.section-three{
    padding: 8rem 0;
}
.section-three-content{
    display: grid;
    row-gap: 9rem;
}
.section-three-content .img img{
    max-width: 530px;
}
.section-three-content .info ul li{
    display: flex;
    margin-bottom: 2.5rem;
}
.section-three-content .info ul li span{
    font-size: 1.5rem;
    font-weight: 600;
}
.section-three-content .info ul li img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0.5rem;
    margin-right: 1.6rem;
}
.section-three-content .info p.text{
    margin-top: 1.8rem;
}

/* section four */
.section-four{
    background: url(../images/vector-bg.png) center/cover no-repeat;
    min-height: 764px;
    padding: 11rem 0;
    position: relative;
}
.section-four-content{
    display: grid;
    row-gap: 9rem;
}
.section-four-content .img img{
    max-width: 260px;
    margin-right: auto;
    margin-left: auto;
}
.section-four-content .info p.text{
    color: var(--white-color);
    margin-bottom: 4rem;
    max-width: 470px;
    margin-right: auto;
    margin-left: auto;
}
.store-group{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.store-group a{
    width: 100%;
    transition: var(--transition);
    display: flex;
    justify-content: center;
}
.store-group a:hover{
    transform: scale(1.05);
}
.store-group img{
    width: 170px;
}
.store-group a:first-child{
    margin-bottom: 2rem;
}
.get-app-btn{
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    height: 70px;
    min-width: 370px;
    text-align: center;
    line-height: 71px;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    box-shadow: 0 0 30px 0px rgba(255, 7, 95, 0.2);
    background: linear-gradient(#fe7570, #f6387d);
}
.btn.get-app-btn:hover{
    transform: translate(-50%, 3px);
}

/* footer */
.footer-content{
    max-width: 800px;
}
.footer-top{
    margin-top: 145px;
    display: grid;
    row-gap: 5rem;
}
.footer-top-item h3{
    font-size: 1.5rem;
    font-weight: 600
}
.footer-top-item ul li a{
    opacity: 0.9;
    transition: var(--transition);
}
.footer-top-item ul li a:hover{
    opacity: 1;
}
.footer-bottom{
    margin-top: 10.5rem;
    margin-bottom: 8.8rem;
}
.footer-bottom .section-title h2{
    margin-bottom: 0;
}
.newsletter-form{
    margin-top: 7.5rem;
    display: grid;
    row-gap: 3rem;
}
.newsletter-form .form-control{
    width: 100%;
    background-color: #f6f7fb;
    border: none;
    font-size: 1.5rem;
    outline: 0;
    height: 50px;
    padding: 0 1.4rem;
}
.newsletter-form .btn.submit-btn{
    text-transform: uppercase;
    color: var(--blue-color);
    border-radius: 0;
    padding: 0;
}
.footer-icons{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.footer-icons li{
    margin-right: 4.5rem;
}
.footer-icons li:last-child{
    margin-right: 0;
}
.footer-icons li a{
    transition: var(--transition);
}
.footer-icons li a:hover{
    opacity: 0.8;
}
.footer-end{
    padding: 4rem 0;
}
.footer-end span{
    font-size: 1.4rem;
    font-weight: 400;
}


/* Media Queries */
@media(min-width: 500px){
    .navbar-collapse{
        width: 285px;
    }
    .store-group a{
        width: auto;
    }
    .store-group a:first-child{
        margin-bottom: 0;
        margin-right: 4rem;
    }

    .footer-top{
        grid-template-columns: repeat(2, 1fr);
    }

}

@media(min-width: 600px){
    .header-sphone-img{
        max-width: 260px;
        bottom: -90px;
    }
    .btn-group button{
        width: auto;
    }

    .section-one-content .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .grid-item{
        width: 270px;
        margin-right: auto;
        margin-left: auto;
    }
    .grid-item:last-child{
        margin-bottom: 7rem;
    }
    .grid-item:nth-child(odd){
        margin-right: 0;
    }
    .grid-item:nth-child(even){
        margin-left: 0;
    }

    .newsletter-form{
        grid-template-columns: auto 170px;
        column-gap: 30px;
    }
}

@media(min-width: 800px){
    .navbar-toggler{
        display: none;
    }
    .navbar-collapse{
        transform: translateX(0);
        position: relative;
        width: 100%;
        box-shadow: none;
        padding: 0;
        align-self: center;
        background-color: transparent;
    }
    .navbar-nav{
        display: flex;
        justify-content: flex-end;
    }
    .nav-item{
        margin-bottom: 0;
        margin-left: 6rem;
    }
    .nav-link{
        color: var(--white-color);
    }
    .nav-link:hover{
        color: var(--white-color);
        opacity: 0.8;
    }

    .section-one-content .grid{
        column-gap: 7rem;
    }
    .grid-item:nth-child(1){
        margin-right: -7rem;
    }
    .grid-item:nth-child(2){
        margin-left: 7rem;
        margin-top: 7rem;
        margin-bottom: 0;
    }
    .grid-item:nth-child(3){
        margin-bottom: 14rem;
    }
    .grid-item:nth-child(4){
        margin-top: 7rem;
    }

    .footer-top{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: left;
    }
    .footer-end .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: left;
    }
    .footer-icons{
        margin-top: 0;
        justify-content: flex-end;
    }

}

@media(min-width: 992px){
    .section-two-content{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 14.5rem;
        align-items: center;
    }
    .section-two-content .info{
        text-align: right;
    }

    .section-three-content{
        column-gap: 15rem;
        align-items: center;
        grid-template-columns: 530px auto;
    }

    .section-four-content{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 16rem;
        align-items: center;
    }
    .section-four-content .info{
        text-align: left;
    }
    .section-four-content .img img{
        margin-right: 0;
    }
    .store-group{
        justify-content: flex-start;

    }

}

@media(min-width: 1200px){
    .section-one-content .img img{
        display: block;
    }
    .section-one-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

.resize-animation-stopper *{
    animation: none!important;
    transition: none!important;
}

.holder{
    overflow-x: hidden;
}